@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap%27');
.container1{
    padding-top: 1%;
    display: flex;
    width: 99%;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 2%;
}
.head{
    font-family: 'Reggae One', cursive;
     color: white;
     display: flex;
     width: 500px;
     font-size: large ;
     padding-left: 2%;
}
.para{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-left: 46%;
    padding-top: 1%;
    font-size: large;
}

