
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.wrapper {
  height: 10%;
  margin-top: 20%; 
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 49%;
  width: 50%;
  margin-top: -30%;
  margin-left: 10%; 
  
  
  /* transform: translate(-50%,-50%); */
 }
 .pic{
   width:100%;
 }
 .border-1{
  border-top-width: 4px;
   border-top-style: solid;
   border-top-color: blue;
   width:40%;
  margin-top:-20%;
   
 }
.pic{
  width:100%;
  height: 40%;
}


  


.typing-demo {
  width: 76%;
  animation: typing 2s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 5em;
  color:white;
  font-family: 'Reggae One', cursive;

  text-decoration: none;
  }
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  
  50% {
    border-color: transparent
  }
}
/* @keyframes moving{
  20%{
    border-color: red;
  }
} */
.wrapper:hover{
border-top: 3px ;
border-top-color: red;
border-top-style: solid;
}



.login {
  background: #2C394B;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin-left: 18%;
  margin-top: 4%;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 5px;
  font-size: 3rem;
  background: #202040;
  color: #80FFDB;
  transform: translateY(-6px);
  font-family: 'Aclonica', sans-serif;
  width:120px;
  height:50px;
  margin-top:2%;
  }
.login-a{
  width:120%;
  margin-left:-9%;
  padding-right:2.1%;
  
}
.signup-a{
margin-left:-13%;

}

.login:active .front , .sign-up:active .front1{
  transform: translateY(-2px);
}
.sign-up{
  background: #2C394B;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin-left: 2%;
  margin-top: 4%;
  
}
.front1 {
  display: block;
  padding: 12px 42px;
  border-radius: 5px;
  font-size: 3rem;
  background: #80FFDB;
  color: #202040;
  transform: translateY(-6px);
  font-family: 'Aclonica', sans-serif;
  width:140px;
  height:50px;
  margin-top:2%;
}


