
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.wrapper {
  height: 10%;
  margin-top: 3%;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 49%;
  
}

.typing-demo {
  width: 76%;
  animation: typing 2s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 5em;
  color: white;
  font-family: 'Reggae One', cursive;
  
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.login1{
height:45px;
width: 150px;
font-family: 'Aclonica', sans-serif;
background: red;
color: white;
border-color: black ;
border-radius:9px;
border-style:2px solid;
border-width: 4px;
font-size:1.5rem;
margin-left: 2%;
}
.login2{
  
    height:45px;
    width: 150px;
    font-family: 'Aclonica', sans-serif;
    background: red;
    color: white;
    border-color: black ;
    border-radius:9px;
    border-style:2px solid;
    border-width: 4px;
    font-size:1.5rem;
    margin-left: 2%;
    
}


