@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');


.wrapper {
  height: 10%;
  margin-top: 20%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 49%;
  width: 50%;
  margin-top: -30%;
  margin-left: 29%; 
  /* transform: translate(-50%,-50%); */
 }
 
 
.pic{
  width:100%;
  
} 


  


.typing-demo {
  width: 76%;
  animation: typing 2s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 5em;
  color:white;
  font-family: 'Reggae One', cursive;
  text-decoration: none;
  }
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  
  50% {
    border-color: transparent
  }
}
/* @keyframes moving{
  20%{
    border-color: red;
  }
} */

.login {
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin-left: 39%;
  margin-top: 4%;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 5px;
  font-size: 3rem;
  background: white;
  color: black;
  transform: translateY(-6px);
  font-family: 'Aclonica', sans-serif;
  width:120px;
  height:50px;
  margin-top:2%;
  }
.login-a{
  width:120%;
  margin-left:-9%;
  padding-right:2.1%;
  
}
.signup-a{
margin-left:-13%;

}

.login:active .front , .sign-up:active .front1{
  transform: translateY(-2px);
}
.sign-up{
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin-left: 2%;
  margin-top: 4%;
  
}
.front1 {
  display: block;
  padding: 12px 42px;
  border-radius: 5px;
  font-size: 3rem;
  background: white;
  color: black;
  transform: translateY(-6px);
  font-family: 'Aclonica', sans-serif;
  width:140px;
  height:50px;
  margin-top:2%;
}

.scroll{
  position: absolute;
  color:white;
  margin:-11.5% 20% 10% -21%;
  font-size: 0.75rem;
  font-family: 'Kanit', sans-serif;
}

.fas{
  font-size:1rem;
  position: absolute;
  margin-left: -55%;
  margin-top:25%;
  animation:Try 1s alternate ease-in-out infinite;
}

@keyframes Try {
  from{
    transform: translateY(0%);
  }
  to{
    transform: translateY(50%);
  }
}