
.testing1{
  position: absolute;
  
}
.video_player_1 {
  margin-top: -300px;
  outline: 0px;
  animation: mymove infinite;
  animation-duration: 3s;
  position:relative;
  border: none;
  margin-left: -290px;
  display: block;
  border-radius: 4px;
  width: 300px;
  position:absolute;
  height: 200px;

}
@keyframes mymove{
  from {left:0px;}
  to {center:100px;}
}
.video_player_2 {
  margin-left: -20px;
  margin-top: -300px;
  margin-right: -100px;
  width: 260px;
  position: absolute;
  height: 200px;
  display: block;
  border-radius: 4px;
  opacity: 1;
  
}
.video_player_3 {
  margin-top: -300px;
  position: absolute;
  display: block;
  border-radius: 4px;
  opacity: 1;
  width: 300px;
  height: 200px;
  margin-left: 870px;
}
.testing1{
  margin-top: 1500px;
}
