body{
  background-color: black;
}
.testing1{
  position: absolute;
}
.video_player_1 {
  margin-top: -580px;
  outline: 0px;
  animation: mymove infinite;
  animation-duration: 3s;
  position:relative;
  border: none;
  margin-left: -400px;
  display: block;
  border-radius: 4px;
  width: 370px;
  position:absolute;
  height: 260px;

}
@keyframes mymove{
  from {left:0px;}
  to {center:100px;}
}
.video_player_2 {
  margin-left: 600px;
  margin-top: 400px;
  margin-right: -100px;
  width: 370px;
  position: absolute;
  height: 270px;
  display: block;
  border-radius: 4px;
  opacity: 1;
  
}
.video_player_3 {
  margin-top: -300px;
  position: absolute;
  display: block;
  border-radius: 4px;
  opacity: 1;
  width: 370px;
  height: 250px;
  margin-left: 1230px;
}
.testing1{
  margin-top: 650px;
}