body {
  background: url("https://media.istockphoto.com/photos/blank-front-real-black-chalkboard-background-texture-in-college-for-picture-id1201544779?b=1&k=20&m=1201544779&s=170667a&w=0&h=YPzbPmwxkIXQsp9aweDac2IQ_zMNlSNwQDj1wtDtgiU=");
  background-repeat: no-repeat;
  background-size: cover;
}
.video_player_1 {
  margin-top: 20px;
  margin-left: 880px;
  height: auto;
  width: auto;
  transition: 0.5s all ease-in-out;
}
.video_player_1:hover {
  transform: scale(1.2);
}

.lines {
  color: white;
  margin-left: 500px;
}
.first {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  color: rgb(255, 255, 255);
  font-size: 45px;
  word-spacing: 5px;
}
.second {
  margin-left: 170px;
  margin-top: -25px;
  font-size: 25px;
  color: #999;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  word-spacing: 5px;
}
.video_player_2 {
  margin-left: 120px;
  margin-top: -160px;
  margin-right: -100px;
  width: 50px;
  height: 50px;
  transition: 0.5s all ease-in-out;
}
.video_player_3 {
  margin-top: 100px;
  transition: 0.5s all ease-in-out;
}
.video_player_2:hover {
  transform: scale(1.2);
}
.video_player_3:hover {
  transform: scale(1.2);
}
.videos {
  height: 50px;
  width: 50px;
  margin-left: -100px;
}
